/* global */
			
			
	/* slider */

		#slider ul, #slider li{ 
			margin:0;
			padding:0;
			list-style:none;
			}	
		#slider, #slider li{ 
			height:220px;
			width:600px;
			/*overflow:hidden;*/
			}	
		#slider{ 
			margin-left:5px;
			}	
		#prevBtn, #nextBtn{ 
			display:block;
			width:30px;
			height:77px;
			position:absolute;
			left:-25px;
			top:71px;
			}	
		#nextBtn{ 
			left:500px;
			}														
		#prevBtn a, #nextBtn a{  
			display:block;
			width:30px;
			height:77px;
			background:url(../images/btn_prev.gif) no-repeat 0 0;	
			}	
		#nextBtn a{ 
			background:url(../images/btn_next.gif) no-repeat 0 0;	
			}								
	
	/* // slider */													

	